
@{
    ViewData["Title"] = "AboutMe1";
}

@model HelloWorld.Models.Teacher

<h1><img src="@Model.Photo" width="60" height="60" /> @Model.Nome</h1>

<ul>
    <li>Email: @Model.Email</li>
    <li>Data Nascimento: @Model.DtNascimento.ToString("dd/MM/yyyy")</li>
    <li>Profissão: @Model.Profissao</li>
    <li>Instituicao de Ensino: @Model.InstituicaoEnsino</li>

    @if (!String.IsNullOrWhiteSpace(Model.Biografia))
    {
        <li><blockquote>Biografia: @Model.Biografia</blockquote></li>
    }

</ul>

@if (Model.Turmas != null)
{
    <h4>Turmas do Aluno</h4>
    <table width="100%" border="1">
        <thead>
            <tr>
                <th>Materia</th>
                <th>Professor</th>
                <th>Horário</th>
                <th>Ação</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var turma in Model.Turmas)
            {
                <tr>
                    <td>@turma.Materia</td>
                    <td>@turma.Professor</td>
                    <td>@turma.Horario</td>
                    <td><a href="@Model.Login/@turma.Codigo/Students">ver alunos</a></td>
                </tr>
            }
        </tbody>
    </table>
}



